<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:fragment="header-css">
      <link href="/css/navbar.css" rel="stylesheet" />
      <div th:replace="fragments/common :: css"></div>
    </div>
  </head>

  <body>
    <div th:fragment="header">
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a
          class="navbar-brand"
          href="/book/shelf"
          style="
            justify-content: center;
            font-size: 2rem;
            align-items: center;
            display: flex;
          "
          >Book Reader</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/book/shelf">
                <i class="fa fa-book"></i>
                My Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/network">
                <i class="fa fa-users" aria-hidden="true"></i>
                Network
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/friends">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                Friends
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/timeline}">
                <i class="fa fa-clock-o"></i>
                Public Timeline
              </a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                th:href="@{'/timeline/' + ${#authentication.getPrincipal().getUsername()}}"
              >
                <i class="fa fa-user-clock"></i>
                My Timeline
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/request">
                <i class="fa fa-bell" aria-hidden="true">
                  <span id="requestCnt" class="badge badge-primary"></span>
                </i>
                Requests
              </a>
            </li>
          </ul>
          <form
            class="form-inline my-2 my-lg-0"
            th:action="@{/search}"
            method="get"
          >
            <input
              class="form-control mr-sm-2"
              name="term"
              type="text"
              id="search_input"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success my-2 my-sm-0"
              id="searchButton"
              type="submit"
            >
              Search
            </button>
          </form>

          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="margin-left: 10%"
            >
              <i class="fas fa-ellipsis-v"></i>
            </button>

            <div
              class="dropdown-menu pull-right"
              aria-labelledby="dropdownMenuButton"
            >
              <span class="dropdown-item"
                ><span
                  th:text="${#authentication.getPrincipal().getUsername()}"
                ></span
              ></span>
              <a class="dropdown-item" th:href="@{/logout}">Sign Out</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div th:replace="fragments/common :: js"></div>
    <script src="/js/header.js"></script>
  </body>
</html>
