<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:fragment="header-css">
            <link href="/css/navbar.css" rel="stylesheet">
            <div th:replace="fragments/common :: css"></div>
        </div>
    </head>

    <body>
        <div th:fragment="header">
            <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/" style="
                    justify-content: center;
                    font-size: 2rem;
                    align-items: center;
                    display:flex;
                ">Book Reader</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fa fa-home"></i>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book/shelf">
                                <i class="fa fa-book"></i>
                                My Book
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/network">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                Network
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/friends">
                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                Friends
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell">
                                    <span class="badge badge-primary">11</span>
                                </i>
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                                <a class="dropdown-item" href="#">Action</a>-->
<!--                                <a class="dropdown-item" href="#">Another action</a>-->
<!--                                <div class="dropdown-divider"></div>-->
<!--                                <a class="dropdown-item" href="#">Something else here</a>-->
                                <ul class="list-group" id="friendRequests">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                </ul>

                            </div>


                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-globe">
                                <span class="badge badge-success">11</span>
                                </i>
                                Test
                            </a>
                        </li>
                    </ul>
<!--                    <form class="form-inline my-2 my-lg-0" >-->
<!--                        <input class="form-control mr-sm-2" type="text" id = "search_input" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-outline-success my-2 my-sm-0" id= "searchButton" type="button">Search</button>-->
<!--                    </form>-->
                    <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                        <input class="form-control mr-sm-2" name="term" type="text" id = "search_input" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" id= "searchButton" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div th:replace="fragments/common :: js"></div>
        <script src="/js/header.js"></script>
    </body>
</html>

