<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Friends</title>
    <link rel="stylesheet" th:href="@{/css/friends.css}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/common :: css"></div>
    <div th:replace="fragments/header :: header-css"></div>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="content" class="content content-full-width">
            <!-- begin profile-content -->
            <div class="profile-content">
              <!-- begin tab-content -->
              <div class="tab-content p-0">
                <!-- begin #profile-friends tab -->
                <div
                  class="tab-pane fade in active show"
                  style="font-size: large"
                  id="profile-friends"
                >
                  <h2 class="m-t-0 m-b-20">Friend List</h2>
                  <!-- begin row -->
                  <div class="row row-space-2">
                    <!-- begin col-6 -->
                    <div
                      class="col-md-6 m-b-2"
                      th:each="friend,iter : ${friends}"
                    >
                      <div class="p-10 bg-white">
                        <div class="media media-xs overflow-visible">
                          <a class="media-left" href="javascript:;"></a>
                          <div class="media-body valign-middle">
                            <b class="text-inverse" th:text="${friend}"></b>
                          </div>
                          <div
                            class="media-body valign-middle text-right overflow-visible"
                          >
                            <button
                              id="reqBtn"
                              th:attr="data-friend-name=${user}"
                              type="button"
                              class="btn btn-primary"
                            >
                              View Timeline
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end col-6 -->
                  </div>
                  <!-- end row -->
                </div>
                <!-- end #profile-friends tab -->
              </div>
              <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/common :: js"></div>
  </body>
</html>
