<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/searchBook.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div th:replace="fragments/common :: css"></div>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <div class = "search">
    <h1> Search </h1>
        <div class="alert alert-primary sticky-top col-md-4" align="center" role="alert">
            <strong>Book has been added to default shelf ✓</strong>
        </div>
        <form th:action="@{/search}" method="get">
            <div class="input-group">
                <textarea class="form-control" style="resize:none" name="term" type="text" id = "search_input_main" placeholder="Search" aria-label="Search"> </textarea>
                <button class="btn btn-outline-success my-2 my-sm-0" id= "searchButton" type="submit">Search</button>
            </div>
        </form>
    <table class = "table table-hover">
        <thead class = "thead-dark">
        <tr>
            <th> Book Cover </th>
            <th> Title </th>
            <th> Author </th>
            <th> Pages </th>
            <th> Description </th>
            <th> Action </th>
            <th> More Information </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.isEmpty()}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}" id="bookRow">
            <td><img id = "link" th:src="${book.getLink()}"></img></td>
            <td><span th:text="${book.getTitle()}" id="title" th:class="${book.getBookIdentifier()}"> Title </span></td>
            <td><span th:text="${book.getAuthor()}" id="author"> Author </span></td>
            <td><span th:text="${book.getPage()}" id="pages"> Pages </span></td>
            <td><span th:text="${book.getDescription()}" id="description"> Description </span></td>
            <td>
                <button class="btn btn-outline-success my-2 my-sm-0" th:attr="data-book=${book.getBookIdentifier()}"id="addBookBtn">Add Book</button>

            </td>
            <td>
                <a th:href="@{/book(id=${book.getBookIdentifier()})}" button class="btn btn-outline-success my-2 my-sm-0" id= "moreInfoBtn"> More Info</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/common :: js"></div>
<script src="/js/search.js"></script>
</body>
</html>