<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/searchBook.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div th:replace="fragments/common :: css"></div>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div class = "search">
    <h1> Search </h1>
        <form th:action="@{/search}" method="get">
            <div class="input-group">
                <textarea class="form-control" style="resize:none" name="term" type="text" id = "search_input_main" placeholder="Search" aria-label="Search"> </textarea>
                <button class="btn btn-outline-success my-2 my-sm-0" id= "searchButton" type="submit">Search</button>
            </div>
        </form>
    <table class = "table table-hover">
        <thead class = "thead-dark">
        <tr>
            <th> Book Cover </th>
            <th> Title </th>
            <th> Author </th>
            <th> Pages </th>
            <th> Description </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.isEmpty()}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}" id="bookRow">
            <td><img id = "link" th:src="${book.getLink()}"></img></td>
            <td><span th:text="${book.getTitle()}" id="title" th:class="${book.getBookIdentifier()}"> Title </span></td>
            <td><span th:text="${book.getAuthor()}" id="author"> Author </span></td>
            <td><span th:text="${book.getPage()}" id="pages"> Pages </span></td>
            <td><span th:text="${book.getDescription()}" id="description"> Description </span></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Book
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item bookshelfChoice">Read</a>
                        <a class="dropdown-item bookshelfChoice">Reading</a>
                        <a class="dropdown-item bookshelfChoice">Want To Read</a>
                        <a class="dropdown-item bookshelfChoice">Favorites</a>
                    </div>
                </div>
            </td>
            <td>
<!--                   <form th:action="@{/book}" method="get"> -->
<!--                       <button class="btn btn-outline-success my-2 my-sm-0" id= "moreInfoBtn" type="submit">More Info</button> -->
<!--                   </form> -->
                <a th:href="@{/book(id=${book.getBookIdentifier()})}" button class="btn btn-outline-success my-2 my-sm-0" id= "moreInfoBtn"> More Info</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:replace="fragments/common :: js"></div>
<script src="/js/search.js"></script>
</body>
</html>