<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Book</title>
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" th:href="@{/css/searchBook.css}" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div th:replace="fragments/common :: include"></div>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <div class = "timeline" th:each="timeline :${timelines}">
        <h1> Timeline </h1>
        <div class="timeline-header">
            <span th:text="${timeline.getUserId()}">User</span>
            <span th:text="${timeline.getTimestamp()}">Timestamp</span>
        </div>
        <div class = "timeline-post">
            <p th:text="${timeline.getContent()}">text</p>
        </div>
    </div>
</body>
</html>